APP_POSTGRES_USER=
APP_POSTGRES_PASSWORD=
APP_POSTGRES_DB=
APP_POSTGRES_PORT=
APP_POSTGRES_HOST=

# development, staging, production
APP_ENV=

APP_HTTP_PORT=

APP_JWT_SECRET_KEY=
APP_JWT_ACCESS_TOKEN_EXPIRATION_TIME_NS=
APP_JWT_REFRESH_TOKEN_EXPIRATION_TIME_NS=